.nav {
    height: 75px;
    width: 100%;
    background-color: white;
    position: sticky;
  }

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-logo{
    height: auto;
    width: auto;
    cursor: pointer;
}
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    padding-right: 2vw;
    display: inline;
    float: right;
    font-size: 20px;
  }
  
  .nav > .nav-links > a {
    color: black;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px 20px 10px;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  
  .nav > .nav-links > a:hover {
    color: rgb(62, 67, 75);
    cursor: pointer;
  }

.nav > .nav-links > a:hover:after { 
    width: 100%; 
    left: 0;
  }

.nav > .nav-links > a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  }

.nav > #nav-check {
    display: none;
  }

.menu{
  font-size: 20px;
  display: inline-block;
  position: absolute;
  display: block;
  width: 220px;
  background-color: white;
  top: 65px;
  left: 0px;
  padding-right: 1px;
  color:black;
  padding-bottom: 5px;
}

.sub-item{
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.sub-item > p{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.sub-item > p:hover {
  color: rgb(62, 67, 75);
  background-color: rgb(179, 179, 165);
  cursor: pointer;
}

  @media (max-width:920px) {
    .servicios-link{
      visibility: hidden;
    }
    .servicios-link::before{
      content: "Servicios";
      visibility: visible;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 25px;
      height: 45px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 15px;
      border-top: 4px solid black;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: auto;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: fit-content;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
    }
    .menu{
      display: none;
    }

    .nav > .nav-links > .flecha{
      display: none;
    }
  }