
.footer-distributed{
	height: 350px;
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.wrapper-logo-f{
	text-align: center;
}
.footer-logo{
	background-color: white;
	padding: 0px 20px 0px 20px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
	}

	.footer-logo{
		max-width: 100%;
		height: auto;
		padding: 0px 5px 0px 5px;
	}

	.wrapper-logo-f{
		display: block;
		width: 100%;
		text-align: center;
	}
}
