.contactenos{	
	font-family: 'Lato', sans-serif;
	display: grid;
}

.bg-image{
	background: url('../../Assets/ApretonManos.jpeg');
	height: 800px;
	position: relative;
	background-size: cover;
	background-position: 35% 25%;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.contactenos-titutlo{
	text-align: center;
    font-size: 4VW;
	color: white;
}

.wrapper-contacto{
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	position:absolute;
	background-color: transparent;
	width: 100%;
	margin: auto;
}

.informacion{
	display: grid; 
	grid-template-columns: auto auto auto auto; 
	gap: 25px 25px; 
	color: white;
	padding-top: 2%;
}

.icon-informacion{
	text-align: center;
	font-size: 1.5vw;
}

.telefono, .email-icon, .ubicacion, .instagram{
	font-size: 120px !important;
	color: white;
}

.icon-informacion > a:link{
	color: white;
}

.wrapper-contacto > div{
	padding: 10px;
}

@media (max-width: 900px) {
	.contactenos-titutlo{
		font-size: 45px;
	}	

	.bg-image{
		height: 1600px;
		position: relative;
		background-size: auto;
		filter: blur(8px);
		-webkit-filter: blur(8px);
		background-position: 35% 25%;
	}

	.informacion{
		display: grid; 
		grid-template-columns: auto; 
		gap: 25px 25px; 
		color: white;
		padding-top: 2%;
	}

	.icon-informacion{
		font-size: 25px;
	}
}